# Sistema operativo
Thumbs.db
Desktop.ini

# Editor
.vscode/

# Dependencias y compilados
node_modules/
dist/
build/

# Variables privadas
.env
.env.local

# Bases de datos o archivos generados localmente
*.db
*.sqlite
*.sqlite3

# Logs
*.log
npm-debug.log*
